/* Copyright 2019-2019 Amir, Cloud and Pablo */
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    line-height: 1.75;
}

a {
    color: #cc2d2d;
}

a:hover {
    color: #a22424;
}

.text-primary {
    color: #cc2d2d !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {
    padding: 100px 0;
}

.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

::-moz-selection {
    background: #cc2d2d;
    text-shadow: none;
}

::selection {
    background: #cc2d2d;
    text-shadow: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.btn {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: #cc2d2d;
    border-color: #cc2d2d;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #ad2626 !important;
    border-color: #ad2626 !important;
    color: white;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #ad2626 !important;
}

.btn-primary:disabled {
    background-color: #cc2d2d;
    border: #cc2d2d;
}

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #cc2d2d;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand {
    color: #cc2d2d;
    font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #4f1111;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #cc2d2d;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

.lds-spinner div {
    left: 92px;
    top: 8px;
    position: absolute;
    -webkit-animation: lds-spinner linear 0.8s infinite;
    animation: lds-spinner linear 0.8s infinite;
    background: rgba(251, 23, 23, 0.731);
    width: 16px;
    height: 40px;
    border-radius: 200%;
    transform-origin: 8px 92px;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    -webkit-animation-delay: -0.746666666666667s;
    animation-delay: -0.746666666666667s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(24deg);
    -webkit-animation-delay: -0.693333333333333s;
    animation-delay: -0.693333333333333s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(48deg);
    -webkit-animation-delay: -0.64s;
    animation-delay: -0.64s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(72deg);
    -webkit-animation-delay: -0.586666666666667s;
    animation-delay: -0.586666666666667s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(96deg);
    -webkit-animation-delay: -0.533333333333333s;
    animation-delay: -0.533333333333333s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(120deg);
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(144deg);
    -webkit-animation-delay: -0.426666666666667s;
    animation-delay: -0.426666666666667s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(168deg);
    -webkit-animation-delay: -0.373333333333333s;
    animation-delay: -0.373333333333333s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(192deg);
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(216deg);
    -webkit-animation-delay: -0.266666666666667s;
    animation-delay: -0.266666666666667s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(240deg);
    -webkit-animation-delay: -0.213333333333333s;
    animation-delay: -0.213333333333333s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(264deg);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.lds-spinner div:nth-child(13) {
    transform: rotate(288deg);
    -webkit-animation-delay: -0.106666666666667s;
    animation-delay: -0.106666666666667s;
}

.lds-spinner div:nth-child(14) {
    transform: rotate(312deg);
    -webkit-animation-delay: -0.053333333333333s;
    animation-delay: -0.053333333333333s;
}

.lds-spinner div:nth-child(15) {
    transform: rotate(336deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-spinner {
    width: 118px !important;
    height: 118px !important;
    transform: translate(-59px, -59px) scale(0.59) translate(59px, 59px);
}

header.masthead {
    text-align: center;
    color: white;
    background-image: linear-gradient(#212529, transparent), url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#searchInput {
    padding: 1.8rem 2rem;
}

#searchInput:active,
#searchInput:focus {
    box-shadow: 0 0 5px #cc2d2d;
    border: #cc2d2d;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(204, 45, 45, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.api-modal .modal-dialog {
    max-width: 80vw;
    margin: 40px auto;
}

.api-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.api-modal .modal-content div {
    margin: 0 auto;
}

.api-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.api-modal .modal-content p {
    margin-bottom: 30px;
}

.api-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.api-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.api-modal .modal-content button {
    cursor: pointer;
}

.api-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.api-modal .close-modal:hover {
    opacity: 0.3;
}

.api-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 3px;
    height: 45px;
    margin-left: 35px;
    /* IE 9 */
    transform: rotate(45deg);
    background-color: darkgrey;
}

.api-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 3px;
    height: 45px;
    /* IE 9 */
    transform: rotate(90deg);
    background-color: darkgrey;
}

.no-gutters {
    height: 207px;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-img {
    height: 207px;
}

.edamam {
    background-color: #ecfaea;
}

.yelp {
    background-color: #f7e6e6;
}

.edamam-title {
    border-bottom: 5px solid green;
    width: 9rem;
    margin: 0 auto 4rem auto !important;
}

.yelp-title {
    border-bottom: 5px solid #cc2d2d;
    width: 21rem;
    margin: 0 auto 4rem auto !important;
}

@media only screen and (max-width: 1300px) {
    .card-title,
    .card-text {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1200px) {
    .card-title,
    .card-text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 991px) {
    .card-title,
    .card-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 660px) {
    .card-title,
    .card-text {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 610px) {
    .card-title,
    .card-text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 575px) {
    .card-title,
    .card-text {
        font-size: 0.7rem;
    }
    #hide {
        display: none !important;
    }
    .yelp-title {
        border-bottom: 5px solid #cc2d2d;
        width: 100%;
        margin: 0 auto 4rem auto !important;
    }
}

@-webkit-keyframes type-red {
    1%,
    100% {
        border-color: #cc2d2d;
    }
    50% {
        border-color: #e23e3e;
    }
}

@keyframes type-red {
    1%,
    100% {
        border-color: #cc2d2d;
    }
    50% {
        border-color: #e23e3e;
    }
}

.jconfirm .jconfirm-box.jconfirm-type-animated {
    border-top: solid 7px #cc2d2d;
    -webkit-animation-name: type-red;
    animation-name: type-red;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box {
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.github:active,
.github:focus,
.github:hover {
    background-color: dimgray !important;
}

.linkedin:active,
.linkedin:focus,
.linkedin:hover {
    background-color: #0077b5 !important;
}

.insta:active,
.insta:focus,
.insta:hover {
    background-image: linear-gradient(
        to right bottom,
        blue,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #f77737,
        #fcaf45,
        #ffdc80,
        yellow
    ) !important;
}

.footer {
    padding: 25px 0;
    text-align: center;
}

.footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #cc2d2d;
}
