// styling for modal
.api-modal {
    .modal-dialog {
        max-width: 80vw;
        margin: 40px auto;
    }
    .modal-content {
        padding: 100px 0;
        text-align: center;
        div {
            margin: 0 auto;
        }
        h2 {
            font-size: 3em;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            font-size: 16px;
            font-style: italic;
            margin: 20px 0 30px;
            @include serif-font;
        }
        ul.list-inline {
            margin-top: 0;
            margin-bottom: 30px;
        }
        // removed img tag since not using it
        button {
            cursor: pointer;
        }
    }
    .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            /* Safari and Chrome */
            z-index: 1051;
            width: 3px;
            height: 45px;
            margin-left: 35px;
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: darkgrey;
            .rl {
                /* Safari and Chrome */
                z-index: 1052;
                width: 3px;
                height: 45px;
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: darkgrey;
            }
        }
    }
}

.no-gutters {
    height: 207px;
}
.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-img {
    height: 207px;
}

.edamam {
    background-color: rgb(236, 250, 234);
}

.yelp {
    background-color: rgb(247, 230, 230);
}

.edamam-title {
    border-bottom: 5px solid green;
    width: 9rem;
    margin: 0 auto 4rem auto !important;
}

.yelp-title {
    border-bottom: 5px solid $primary;
    width: 21rem;
    margin: 0 auto 4rem auto !important;
}

@media only screen and (max-width: 1400px) {
    .card-title,
    .card-text {
        font-size: 0.82rem;
    }
}

@media only screen and (max-width: 1200px) {
    .card-title,
    .card-text {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 991px) {
    .card-title,
    .card-text {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 790px) {
    .card-title,
    .card-text {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 690px) {
    .card-title,
    .card-text {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 575px) {
    .card-title,
    .card-text {
        font-size: 0.9rem;
    }
    .hide {
        display: none !important;
    }
    .yelp-title {
        border-bottom: 5px solid $primary;
        width: 100%;
        margin: 0 auto 4rem auto !important;
    }
}
